<div class="d-flex justify-content-center">
	<div class="card bg-black text-light" style="width: 45rem;">
		<div class="card-header">
			About us
		</div>
		<div class="card-body">
			We are more than just a forum; we are a hub for individuals who share a common love for video games, delve into the intricacies of the gaming industry, and explore the fascinating realm of game development. Whether you're a seasoned gamer looking to connect with like-minded peers, a gaming industry professional seeking insights, or a budding game developer eager to share your creations, you've found your virtual home.
		</div>
	</div>
</div>

<br />

<div class="d-flex justify-content-center">
	<div class="card bg-black text-light" style="width: 40rem;">
		<div class="card-header">
			Diverse dicussions
		</div>
		<div class="card-body">
			<p>
				Join lively conversations covering a vast array of video game genres, platforms, and titles. From the latest AAA releases to indie gems, our community embraces the diversity of gaming experiences.
			</p>
		</div>
	</div>
</div>

<br/>

<div class="d-flex justify-content-center">
	<div class="card bg-black text-light" style="width: 40rem;">
		<div class="card-header">
			Industry Insights
		</div>
		<div class="card-body">
			<p>
				Gain exclusive insights into the gaming industry. Stay updated on the latest trends, technological advancements, and news shaping the future of gaming.
			</p>
		</div>
	</div>
</div>

<br />

<div class="d-flex justify-content-center">
	<div class="card bg-black text-light" style="width: 40rem;">
		<div class="card-header">
			Game Development Corner
		</div>
		<div class="card-body">
			<p>
				For aspiring game developers, our forum provides a dedicated space to share ideas, seek advice, and collaborate on projects. Whether you're a seasoned developer or just starting, our supportive community is here to help you level up your skills.
			</p>
		</div>
	</div>
</div>