@{
    ViewData["Title"] = "New thread";
}

@model ThreadCreateViewModel

<div class="d-flex justify-content-center">
    <div class="card bg-black text-light " style="width: 35rem;">

        <div class="card-header">
            <h4>Create a thread</h4>
        </div>

    <form asp-controller="Thread" asp-action="Create" method="post">
            <div class="card-body" style="padding-bottom: 1px; margin-bottom: 0px;">

                <div class="mb-3">
                    <textarea asp-for="Title" class="form-control-custom" id="titleText" rows="1" placeholder="Title">@Model.Title</textarea>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <textarea asp-for="Content" class="form-control-custom" id="threadContentTA" rows="4" placeholder="Write something...">@Model.Content</textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

            </div>

            <hr />

            <div class="card-footer text-end mb-3">
                <a asp-controller="Thread" asp-action="Index" class="btn btn-custom4">Cancel</a>
                <input type="submit" value="Post" class="btn btn-custom1" />
            </div>
    </form>
    </div>
</div>
