@{
    ViewData["Title"] = "Remove Avatar";

    var username = Context.Session.GetString("CurrentUser");
    var loggedId = Context.Session.GetString("CurrentID");

    string avatarUsername = ViewData["AvatarUsername"].ToString();

	AvatarHelper avatarHelper = new AvatarHelper();
    string avatarLocation = avatarHelper.GetAvatar(avatarUsername);

}

@model AvatarViewModel


<div class="d-flex justify-content-center">
    <div class="card bg-black text-light " style="width: 25rem;">
        <div class="card-header">
            <h4>Are you sure you want to remove this avatar?</h4>
        </div>

        <form asp-controller="User" asp-action="RemoveAvatar" enctype="multipart/form-data">

            <div class="card-body text-center" style="padding-bottom: 1px; margin-bottom: 0px;">
                <div class="mb-3">
                    <img src="/images/avatars/@avatarLocation" alt="Logo" class="rounded-circle" style="width: 100px; height: 100px;" />
                </div>

            </div>

            <hr />

            <div class="card-footer text-end mb-3">
                <button class="btn btn-custom4" onclick="history.back()">Back</button>
                <input type="submit" value="Remove" class="btn btn-custom1">
            </div>

        </form>
    </div>
</div>